<form [formGroup]="form" class="k-form">
  <p> Person Detail Works!</p>
  <div class = "d-flex flex-wrap">
    <hyd-textbox class="col-md-3" [group]="form" [label]="'First Name'" [frmControlName] = "'firstName'"></hyd-textbox>
    <hyd-textbox class="col-md-3" [group]="form" [frmControlName] = "'lastName'"></hyd-textbox>
    <hyd-textbox class="col-md-3" [group]="form" [frmControlName] = "'country'"></hyd-textbox>
    <hyd-datepicker class="col-md-3" [group]="form" [frmControlName] = "'joinDate'"></hyd-datepicker>
    <hyd-textarea class="col-md-3" [group]="form" [label]="'Country'" [frmControlName] = "'country'"></hyd-textarea>
  </div>
</form> 

<div>{{form.value | json}}</div>
