<p>Team Member List from List Page</p>

<kendo-tabstrip (tabSelect)="onTabSelect($event)">
  <kendo-tabstrip-tab [title]="'Active'" [selected]="true"> </kendo-tabstrip-tab>
  <kendo-tabstrip-tab [title]="'Terminated'"> </kendo-tabstrip-tab>
  <kendo-tabstrip-tab [title]="'All'"> </kendo-tabstrip-tab>
</kendo-tabstrip>

<hyd-grid [gridSettings]="gridSettings.get('list')">
  <kendo-grid-column field="id" title="Test">
    <ng-template kendoGridCellTemplate let-dataItem>
      <a [routerLink]="['/team-member', dataItem.id]">{{ dataItem.id }}</a>
    </ng-template>
  </kendo-grid-column>
</hyd-grid>
