<p>Team Member List from List Page</p>
<!-- <kendo-grid
  [data]="gridCol.get('list').gridView"
  [pageable]="true"
  [pageSize]="gridCol.get('list').pageSize"
  [skip]="gridCol.get('list').skip"
  (pageChange)="gridPageChange('list', $event)"
  (sortChange)="gridSortChange('list', $event)"
>
</kendo-grid> -->

<kendo-tabstrip (tabSelect)="onTabSelect($event)">
  <kendo-tabstrip-tab [title]="'Active'" [selected]="true">
    <ng-template kendoTabContent>
      <hyd-grid [gridSettings]="gridSettings"></hyd-grid>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab [title]="'Terminated'">
    <ng-template kendoTabContent>
      <hyd-grid [gridSettings]="gridSettings"></hyd-grid>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab [title]="'All'">
    <ng-template kendoTabContent>
      <hyd-grid [gridSettings]="gridSettings"></hyd-grid>
    </ng-template>
  </kendo-tabstrip-tab>
</kendo-tabstrip>
